<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="tportalpayApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tportalpayApp.invoice.code">Code</span></dt>
                <dd>
                    <span>{{invoice.code}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.date">Date</span></dt>
                <dd>
                    <span>{{invoice.date}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.details">Details</span></dt>
                <dd>
                    <span>{{invoice.details}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'tportalpayApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.paymentMethod">Payment Method</span></dt>
                <dd>
                    <span jhiTranslate="{{'tportalpayApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{invoice.paymentDate}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.paymentAmount">Payment Amount</span></dt>
                <dd>
                    <span>{{invoice.paymentAmount}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.productorder">Productorder</span></dt>
                <dd>
                    <div *ngIf="invoice.productorder">
                        <a [routerLink]="['/product-order', invoice.productorder?.id, 'view']">{{invoice.productorder?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.invoice.merchant">Merchant</span></dt>
                <dd>
                    <div *ngIf="invoice.merchant">
                        <a [routerLink]="['/merchant', invoice.merchant?.id, 'view']">{{invoice.merchant?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="button"
                    (click)="gotoPaymentPage()"
                    class="btn btn-info">
                <fa-icon [icon]="'cc-visa'"></fa-icon>&nbsp;<span>Оплата</span>
            </button>
        </div>
    </div>
</div>
