<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="tportalpayApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tportalpayApp.payment.pgaTrx">Pga Trx</span></dt>
                <dd>
                    <span>{{payment.pgaTrx}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.langCode">Lang Code</span></dt>
                <dd>
                    <span>{{payment.langCode}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.createDt">Create Dt</span></dt>
                <dd>
                    <span>{{payment.createDt}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.dt">Dt</span></dt>
                <dd>
                    <span>{{payment.dt}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'tportalpayApp.PaymentStatus.' + payment.status}}">{{payment.status}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.extResultCode">Ext Result Code</span></dt>
                <dd>
                    <span>{{payment.extResultCode}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.rrn">Rrn</span></dt>
                <dd>
                    <span>{{payment.rrn}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.transactionDt">Transaction Dt</span></dt>
                <dd>
                    <span>{{payment.transactionDt}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.cardHolder">Card Holder</span></dt>
                <dd>
                    <span>{{payment.cardHolder}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.authCode">Auth Code</span></dt>
                <dd>
                    <span>{{payment.authCode}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.pan">Pan</span></dt>
                <dd>
                    <span>{{payment.pan}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.fullAuth">Full Auth</span></dt>
                <dd>
                    <span>{{payment.fullAuth}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.paymentAmount">Payment Amount</span></dt>
                <dd>
                    <span>{{payment.paymentAmount}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.card">Card</span></dt>
                <dd>
                    <div *ngIf="payment.card">
                        <a [routerLink]="['/card', payment.card?.id, 'view']">{{payment.card?.cardId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.payment.invoice">Invoice</span></dt>
                <dd>
                    <div *ngIf="payment.invoice">
                        <a [routerLink]="['/invoice', payment.invoice?.id, 'view']">{{payment.invoice?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
