<div>
    <h2 id="page-heading">
        <span jhiTranslate="tportalpayApp.payment.home.title">Payments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment" [routerLink]="['/payment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tportalpayApp.payment.home.createLabel">
            Create a new Payment
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="payments?.length === 0">
        <span jhiTranslate="tportalpayApp.payment.home.notFound">No payments found</span>
    </div>
    <div class="table-responsive" *ngIf="payments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.pgaTrx">Pga Trx</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.langCode">Lang Code</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.createDt">Create Dt</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.dt">Dt</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.extResultCode">Ext Result Code</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.rrn">Rrn</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.transactionDt">Transaction Dt</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.cardHolder">Card Holder</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.authCode">Auth Code</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.pan">Pan</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.fullAuth">Full Auth</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.paymentAmount">Payment Amount</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.card">Card</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.payment.invoice">Invoice</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments ;trackBy: trackId">
                <td><a [routerLink]="['/payment', payment.id, 'view' ]">{{payment.id}}</a></td>
                <td>{{payment.pgaTrx}}</td>
                <td>{{payment.langCode}}</td>
                <td>{{payment.createDt | date:'medium'}}</td>
                <td>{{payment.dt | date:'medium'}}</td>
                <td jhiTranslate="{{'tportalpayApp.PaymentStatus.' + payment.status}}">{{payment.status}}</td>
                <td>{{payment.extResultCode}}</td>
                <td>{{payment.rrn}}</td>
                <td>{{payment.transactionDt | date:'medium'}}</td>
                <td>{{payment.cardHolder}}</td>
                <td>{{payment.authCode}}</td>
                <td>{{payment.pan}}</td>
                <td>{{payment.fullAuth}}</td>
                <td>{{payment.paymentAmount}}</td>
                <td>
                    <div *ngIf="payment.card">
                        <a [routerLink]="['/card', payment.card?.id, 'view' ]" >{{payment.card?.cardId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payment.invoice">
                        <a [routerLink]="['/invoice', payment.invoice?.id, 'view' ]" >{{payment.invoice?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/payment', payment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment', payment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment', { outlets: { popup: payment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
