<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-heading" jhiTranslate="tportalpayApp.payment.home.createOrEditLabel">Create or edit a Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.pgaTrx" for="field_pgaTrx">Pga Trx</label>
                    <input type="text" class="form-control" name="pgaTrx" id="field_pgaTrx"
                           formControlName="pgaTrx"/>
                    <div *ngIf="editForm.get('pgaTrx').invalid && (editForm.get('pgaTrx').dirty || editForm.get('pgaTrx').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pgaTrx').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pgaTrx').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.langCode" for="field_langCode">Lang Code</label>
                    <input type="text" class="form-control" name="langCode" id="field_langCode"
                           formControlName="langCode"/>
                    <div *ngIf="editForm.get('langCode').invalid && (editForm.get('langCode').dirty || editForm.get('langCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('langCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2 }">
                        This field cannot be longer than 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.createDt" for="field_createDt">Create Dt</label>
                    <div class="d-flex">
                        <input id="field_createDt" type="datetime-local" class="form-control" name="createDt" formControlName="createDt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createDt').invalid && (editForm.get('createDt').dirty || editForm.get('createDt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createDt').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createDt').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.dt" for="field_dt">Dt</label>
                    <div class="d-flex">
                        <input id="field_dt" type="datetime-local" class="form-control" name="dt" formControlName="dt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="COMPLETED">{{'tportalpayApp.PaymentStatus.COMPLETED' | translate}}</option>
                        <option value="PENDING">{{'tportalpayApp.PaymentStatus.PENDING' | translate}}</option>
                        <option value="CANCELLED">{{'tportalpayApp.PaymentStatus.CANCELLED' | translate}}</option>
                        <option value="PGA_ERROR">{{'tportalpayApp.PaymentStatus.PGA_ERROR' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.extResultCode" for="field_extResultCode">Ext Result Code</label>
                    <input type="text" class="form-control" name="extResultCode" id="field_extResultCode"
                           formControlName="extResultCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.rrn" for="field_rrn">Rrn</label>
                    <input type="text" class="form-control" name="rrn" id="field_rrn"
                           formControlName="rrn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.transactionDt" for="field_transactionDt">Transaction Dt</label>
                    <div class="d-flex">
                        <input id="field_transactionDt" type="datetime-local" class="form-control" name="transactionDt" formControlName="transactionDt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.cardHolder" for="field_cardHolder">Card Holder</label>
                    <input type="text" class="form-control" name="cardHolder" id="field_cardHolder"
                           formControlName="cardHolder"/>
                    <div *ngIf="editForm.get('cardHolder').invalid && (editForm.get('cardHolder').dirty || editForm.get('cardHolder').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardHolder').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 26 }">
                        This field cannot be longer than 26 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.authCode" for="field_authCode">Auth Code</label>
                    <input type="text" class="form-control" name="authCode" id="field_authCode"
                           formControlName="authCode"/>
                    <div *ngIf="editForm.get('authCode').invalid && (editForm.get('authCode').dirty || editForm.get('authCode').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authCode').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.pan" for="field_pan">Pan</label>
                    <input type="text" class="form-control" name="pan" id="field_pan"
                           formControlName="pan"/>
                    <div *ngIf="editForm.get('pan').invalid && (editForm.get('pan').dirty || editForm.get('pan').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pan').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 19 }">
                        This field cannot be longer than 19 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.fullAuth" for="field_fullAuth">Full Auth</label>
                    <input type="checkbox" class="form-control" name="fullAuth" id="field_fullAuth"
                           formControlName="fullAuth"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.paymentAmount" for="field_paymentAmount">Payment Amount</label>
                    <input type="number" class="form-control" name="paymentAmount" id="field_paymentAmount"
                           formControlName="paymentAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.card" for="field_card">Card</label>
                    <select class="form-control" id="field_card" name="card" formControlName="card">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cardOption.id === editForm.get('card').value?.id ? editForm.get('card').value : cardOption" *ngFor="let cardOption of cards; trackBy: trackCardById">{{cardOption.cardId}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.payment.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" name="invoice" formControlName="invoice">
                        <option *ngIf="!editForm.get('invoice').value" [ngValue]="null" selected></option>
                        <option [ngValue]="invoiceOption.id === editForm.get('invoice').value?.id ? editForm.get('invoice').value : invoiceOption" *ngFor="let invoiceOption of invoices; trackBy: trackInvoiceById">{{invoiceOption.code}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('invoice').invalid && (editForm.get('invoice').dirty || editForm.get('invoice').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('invoice').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
