<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-card-heading" jhiTranslate="tportalpayApp.card.home.createOrEditLabel">Create or edit a Card</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.card.cardId" for="field_cardId">Card Id</label>
                    <input type="text" class="form-control" name="cardId" id="field_cardId"
                           formControlName="cardId"/>
                    <div *ngIf="editForm.get('cardId').invalid && (editForm.get('cardId').dirty || editForm.get('cardId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cardId').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.card.expireDt" for="field_expireDt">Expire Dt</label>
                    <input type="text" class="form-control" name="expireDt" id="field_expireDt"
                           formControlName="expireDt"/>
                    <div *ngIf="editForm.get('expireDt').invalid && (editForm.get('expireDt').dirty || editForm.get('expireDt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('expireDt').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4 }">
                        This field cannot be longer than 4 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tportalpayApp.card.requrrent" for="field_requrrent">Requrrent</label>
                    <input type="checkbox" class="form-control" name="requrrent" id="field_requrrent"
                           formControlName="requrrent"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
