<div>
    <h2 id="page-heading">
        <span jhiTranslate="tportalpayApp.card.home.title">Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tportalpayApp.card.home.createLabel">
            Create a new Card
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cards?.length === 0">
        <span jhiTranslate="tportalpayApp.card.home.notFound">No cards found</span>
    </div>
    <div class="table-responsive" *ngIf="cards?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.card.cardId">Card Id</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.card.expireDt">Expire Dt</span></th>
            <th scope="col" ><span jhiTranslate="tportalpayApp.card.requrrent">Requrrent</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['/card', card.id, 'view' ]">{{card.id}}</a></td>
                <td>{{card.cardId}}</td>
                <td>{{card.expireDt}}</td>
                <td>{{card.requrrent}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card', { outlets: { popup: card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
