<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span jhiTranslate="tportalpayApp.card.detail.title">Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tportalpayApp.card.cardId">Card Id</span></dt>
                <dd>
                    <span>{{card.cardId}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.card.expireDt">Expire Dt</span></dt>
                <dd>
                    <span>{{card.expireDt}}</span>
                </dd>
                <dt><span jhiTranslate="tportalpayApp.card.requrrent">Requrrent</span></dt>
                <dd>
                    <span>{{card.requrrent}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
